!!! 5
%html
  %head
    %title celebrating innovation in science and technology : rnd.io
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .masthead
        =# image_tag("rnd-masthead.png")
        %span.logo rnd.io
        %ul
          - ct = controller.controller_name
          %li
            = link_to 'home', { controller: 'home', action: 'index' }, class: ct == 'home' ? 'selected' : ''
          %li
            = link_to 'engineers onstage', { controller: 'eos', action: 'index' }, class: ct == 'eos' ? 'selected' : ''
          %li subscribe
          %li about
      .content
        = yield
          
