!!! 5
%html
  %head
    %title celebrating innovation in science and technology : rnd.io
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .masthead
        =# image_tag("rnd-masthead.png")
        %span.logo rnd.io
        %ul
          - ct = controller.controller_name
          %li
            = link_to 'engineers onstage', { controller: 'home', action: 'index' }, class: ct == 'home' ? 'selected' : ''
          %li subscribe
          %li about
      .content
        = yield
      .footer
        %p
          All contents &copy; 2012 and made available pursuant to
          %a{href: 'http://creativecommons.org/licenses/by/3.0/'}Creative Commons Attribution 3.0 Unported.
          All other rights reserved. Production by Ravi Sathyam and David Albrecht,
          design by David Martin and DeVaris Brown of
          %a{href: 'https://www.klickpush.com/'} KlickPush
          , engineering by
          %a{href: 'http://prefiat.com/'} Prefiat LLC. 

          
